.blurred-bg-image {
  background-image: url("../../src/assets/blurred-bg.svg");
  background-repeat: no-repeat;
  background-position: center -300px;
  background-size: auto;
  width: 100%;
}
.entry {
  text-align: center;
  border-radius: 12px;
  background-color: #1b2236;
  .entry-value {
    position: relative;
    height: 95px;
    perspective: 200px;
    backface-visibility: hidden;
    transform: translateZ(0);
    transform: translate3d(0, 0, 0);
    margin: 0 auto;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  .entry-title {
    flex-grow: 0;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #8490b5;
  }
}

.count {
  background-color: #1b2236;
  color: #fff;
  display: block;
  line-height: 1;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  border-radius: 12px;

  &.top {
    height: 50%;
    line-height: 95px;
    transform-origin: 50% 100%;
  }

  &.bottom {
    line-height: 0;
    height: 50%;
    top: 50%;
    transform-origin: 50% 0;
  }

  &.flipTop {
    animation-name: flipTop;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    z-index: 1;
  }

  &.flipBottom {
    animation-name: flipBottom;
    animation-duration: 0.3s;
    animation-delay: 0.3s;
    animation-fill-mode: both;
    z-index: 1;
  }
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
}

@keyframes flipTop {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(-90deg);
  }
}

@keyframes flipBottom {
  from {
    transform: rotateX(90deg);
  }

  to {
    transform: rotateX(0deg);
  }
}

.batsound-emoji img {
  height: 20px;
  width: auto;
  margin: 0 0.3em;
}

.clipboard-image {
  height: 20px;
  padding-right: 0.4rem;
}

.tw-profile-text {
  img {
    width: 16px;
    margin: auto 2px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.emoji {
  display: inline-block;
  width: auto;
  height: 1em;
  vertical-align: -0.125em;
}

.show-me {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  @media (min-width: 768px) {
    margin-left: -8.3rem;
  }
}

.fee-block-enter {
  opacity: 0;
}

.fee-block-enter-active {
  opacity: 1;
}

.fee-block {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
}

.fee-block-appear {
  opacity: 0;
}

.fee-block-appear-active {
  opacity: 1;
}

.leaderboard-link {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.leaderboard-image {
  border-radius: 50%;
  border: 1px solid rgb(27, 34, 54);
}
