.emoji_wrapper {
    display: inline;
}

.emoji {
    display: inline-block;
    width: 30px;
    margin: auto 4px;
}

.ultra-sound-text {
    background-image: linear-gradient(45deg, #ff01e6 0%, #ff5f51 39%, #00ffa3);
    // font-size: 56px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3 !important;
    letter-spacing: normal;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h-screen-90 {
    height: 90vh;
}

.timeline_wrapper {
    display: flex;
    width: 100%;
    padding-top: 120px;
}

.eclips {
    flex: 1 1 0%;
    position: relative;

    &::before {
        content: '';
        left: 0;
        top: 0;
        position: absolute;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid #00ffa3;
    }

    &::after {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #00ffa3;
        position: absolute;
        top: 8px;
        left: 8px;
    }

    &-line {
        background-color: transparent;
        border-top: 1px dashed rgb(112, 112, 112);
        margin-top: 12px;
    }

    &-eth {
        flex: 1 1 0%;
        width: 30px;
        position: relative;
        bottom: 8px;
        left: -15px;

        img {
            max-width: unset;
        }

        &-line-top {
            background-color: transparent;
            border-top: 1px dashed rgb(112, 112, 112);
            transform: rotate(-90deg);
            width: 100px;
            position: relative;
            bottom: 48px;
            left: -35px;
        }

        &-line-right {
            background-color: transparent;
            border-top: 1px dashed rgb(112, 112, 112);
            position: relative;
            width: calc(100% - 30px);
            top: -30px;
            left: 30px;
        }
    }

    &-bottom {
        position: relative;
        transform: rotate(270deg);
        left: -85px;
        top: 100px;
        width: 200px;

        &::before {
            content: '';
            left: -25px;
            top: -11px;
            position: absolute;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: transparent;
            border: 2px solid #00ffa3;
        }

        &::after {
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #00ffa3;
            position: absolute;
            top: -3px;
            left: -17px;
        }

        &__left-0 {
            left: 0;
            align-self: center;
        }

        &-line {
            background-color: transparent;
            border-top: 1px dashed rgb(112, 112, 112);

            &__only {
                position: relative;
                transform: rotate(270deg);
                top: 70px;
                width: 150px;
            }
        }
    }

    &-hr {
        position: relative;
        border-left-width: 1px;
        border-style: dashed;
        border-color: rgb(112 112 112);

        // &::before {
        //     content: '';
        //     left: -13px;
        //     bottom: -24px;
        //     position: absolute;
        //     width: 24px;
        //     height: 24px;
        //     border-radius: 50%;
        //     background-color: transparent;
        //     border: 2px solid #00ffa3;
        // }

        // &::after {
        //     content: '';
        //     width: 8px;
        //     height: 8px;
        //     border-radius: 50%;
        //     background-color: #00ffa3;
        //     position: absolute;
        //     bottom: -15px;
        //     left: -5px;
        // }

        &__left-0 {
            left: 0;
            align-self: center;
        }

        &-line {
            background-color: transparent;
            border-top: 1px dashed rgb(112, 112, 112);

            &__only {
                position: relative;
                transform: rotate(270deg);
                top: 70px;
                width: 150px;
            }
        }
    }

    &__hr-circle {
        scroll-behavior: smooth;

        &::before {
            content: '';
            left: -13px;
            bottom: -24px;
            position: absolute;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: transparent;
            border: 2px solid #00ffa3;
        }

        &::after {
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #00ffa3;
            position: absolute;
            bottom: -15px;
            left: -5px;
        }
    }
}

.the-merge {
    background-image: url("../../src/assets/lines-bg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    height: 100vh;
    min-height: 100%;
    z-index: 11;

    &::after {
        content: '';
        background-image: url("../../src/assets/bat-bg/Blurredbg.png");
        background-repeat: no-repeat;
        background-position: center 0px;
        background-size: contain;
        height: 100%;
        width: 100%;
        margin: auto;
        position: relative;
        bottom: -100px;
        left: -50px;
        z-index: 0;
    }
}

.hero {
    z-index: 1;
    width: 100%;
    transition: all 300ms;

    &::before {
        position: absolute;
        content: '';
        background-image: url("../../src/assets/glow.svg");
        background-repeat: no-repeat;
        background-position: center left;
        background-size: contain;
        height: 100%;
        width: 100%;
        bottom: 0px;
        left: 0px;
        z-index: 0;
    }
}

.fixed-fee-burned {
    @media (min-width: 1023px) {
        position: sticky;
        left: 0;
        bottom: 10px;
        width: 100%;
        z-index: 999;
    }
}


.mo-fire {
    width: 200px;
    height: auto;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 100px;
}

.mo-fire svg {
    width: 100%;
    height: auto;
    position: relative
}

.flame {
    animation-name: flamefly;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 0;
    transform-origin: 50% 50% 0;
}

.flame.one {
    animation-delay: 1s;
    animation-duration: 3s;
}

.flame3.two {
    animation-duration: 5s;
    animation-delay: 1s;
}

.flame-main {
    animation-name: flameWobble;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.flame-main.one {
    animation-duration: 4s;
    animation-delay: 1s;
}

.flame-main.two {
    animation-duration: 3s;
    animation-delay: 2s;
}

.flame-main.three {
    animation-duration: 2.1s;
    animation-delay: 3s;
}

.flame-main.four {
    animation-duration: 3.2s;
    animation-delay: 4s;
}

.flame-main.five {
    animation-duration: 2.5s;
    animation-delay: 5s;
}

@keyframes flameWobble {
    50% {
        transform: scale(1, 1.2) translate(0, -30px) rotate(-2deg);
    }
}

@keyframes flamefly {
    0% {
        transform: translate(0) rotate(180deg);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(-20px, -100px) rotate(180deg);
        opacity: 0;
    }
}


/**** slider ****/
.slidercss {
    overflow: hidden;
}

.slidercss-inner {
    display: flex;
    margin: 0;
    padding: 0;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    list-style: none;
    animation: pure-css-slider 11.25s cubic-bezier(0.86, 0, 0.07, 1) infinite;
    counter-reset: i;
}

.slidercss-inner>* {
    box-sizing: border-box;
    margin: 0 !important;
    flex: 0 0 100%;
    word-break: break-word;
}

.slidercss-inner:nth-child(1)>*::before {
    content: "BTC"
}

.slidercss-inner:nth-child(2)>*::before {
    content: "ETH"
}

.slidercss-inner:nth-child(3)>*::before {
    content: "USD"
}

.slidercss:hover .slidercss-inner {
    animation-play-state: paused;
}

@keyframes pure-css-slider {

    from,
    to {
        transform: translateX(0);
    }

    26.66667% {
        transform: translateX(0%);
    }

    33.33333% {
        transform: translateX(-100%);
    }

    60% {
        transform: translateX(-100%);
    }

    66.66667% {
        transform: translateX(-200%);
    }

    93.33333% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}

.slidercss {
    max-width: 60em;
    margin: auto;
}

.slidercss li {
    position: relative;
}

.slidercss li::before {
    position: absolute;
    top: 0;
    right: .875em;
    font-size: .875em;
    color: #3498db;
}

.no-support {
    text-align: center;
    padding: 5px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    background: #ee6620;
    color: #fff;
    font-size: 16px;
}

@supports(scroll-snap-type: y mandatory) {
    .no-support {
        display: none;
    }
}

.example-wrapper {
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.container1 {
    width: 320px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #333;
    overflow: scroll;
    position: relative;
}

.element {
    width: 300px;
    height: 300px;
    scroll-margin: 10px;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element:nth-child(1) {
    background: #1d1e21;
}

.element:nth-child(2) {
    background: #ee6620;
}

.element:nth-child(3) {
    background: #777ba0;
}

.element:nth-child(4) {
    background: #da1e62;
}

.x-mandatory {
    scroll-snap-type: x mandatory;
}

.y-mandatory {
    scroll-snap-type: y mandatory;
}

.both-mandatory {
    scroll-snap-type: both mandatory;
}

.x-proximity {
    scroll-snap-type: x proximity;
}

.y-proximity {
    scroll-snap-type: y proximity;
}

.both-proximity {
    scroll-snap-type: both proximity;
}

/* Below here just styles the container & elements so they look nice */
.x-scroll .wrapper {
    width: 1240px;
}

.x-scroll .element {
    float: left;
    margin-right: 10px;
}


.y-scroll .element {
    margin-bottom: 10px;
}

.both-scroll .wrapper {
    width: 620px;
    height: 100%;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 10px;
}