// NOTE: don't use this file unless you really have to! Try to use component scoped CSS instead.
// See: https://nextjs.org/docs/basic-features/built-in-css-support#adding-component-level-css

// Makes overscrolling look better by filling in the default white with our background color.
body {
  background-color: #131827;
}

a:hover {
  color: inherit;
}

.link-animation {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.color-animation {
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.leading-title {
  line-height: 1.5 !important;
}

.emoji {
  display: inline-block;
  width: 30px;
  margin: auto 4px;
}

.ultra-sound-text {
  background-image: linear-gradient(45deg, #ff01e6 0%, #ff5f51 39%, #00ffa3);
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3 !important;
  letter-spacing: normal;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h-screen-90 {
  height: 90vh;
}

.timeline_wrapper {
  display: flex;
  width: 100%;
  padding-top: 120px;
}

.the-merge-path {
  position: relative;

  .merge-path {
      width: 100%;
      text-align: center;

      &_static {
          position: relative;
          margin: auto;
          width: 210px;

          .path {
              position: relative;
          }

          .bg {
              position: absolute;
              bottom: 20px;
              transform: translateX(-46%);
          }
      }
  }

  .merge-icon-block {
      &:nth-child(2) {
          right: 0;
          top: 300px;
      }

      .icon-emoji, h1, p {
          text-align: left;
      }

      img {
          max-width: 20px;
      }

      h1 {
          margin-bottom: 20px;
      }

      p {
          margin: 0;
      }
  }

  @media (max-width: 1024px) {
      .merge-path_static {
          width: 190px;
      }
  }

  @media (min-width: 380px) and (max-width: 768px) {
      .merge-icon-block {
          &:nth-child(2) {
              align-self: end;
              margin-bottom: -200px;
          }

      }
  }

  @media screen and (max-width: 380px) {
      .merge-icon-block {
          width: 100%;
      }
  }

  @media (max-width: 767px) {
      background-size: contain;

      &::after {
          bottom: 0px;
      }
  }


  //.merge-path_animated {
  //    height: 938px;
  //    width: 210px;
  //    position: relative;
  //
  //    .path {
  //        transition: height .2s ease;
  //        position: absolute;
  //        width: 24px;
  //        height: 24px;
  //        border-radius: 20px;
  //        background-color: #191F32;
  //
  //        &_left {
  //            top: 0;
  //            left: 0;
  //        }
  //
  //        &_right {
  //            top: 300px;
  //            right: 0;
  //        }
  //
  //        &_right_rotate {
  //            top: 800px;
  //            right: 0;
  //            height: 214px;
  //            transform: rotate(78deg);
  //            transform-origin: top right;
  //        }
  //
  //        &_right_bottom {
  //            top: 812px;
  //            left: 0;
  //            height: 107px;
  //        }
  //    }
  //}
}

.hero {
  z-index: 1;
  width: 100%;
  transition: all 300ms;

  // &::before {
  //     position: absolute;
  //     content: '';
  //     background-image: url("../../src/assets/glow.svg");
  //     background-repeat: no-repeat;
  //     background-position: center left;
  //     background-size: contain;
  //     width: 100%;
  //     height: auto;
  //     bottom: 0px;
  //     left: 0px;
  //     z-index: 0;
  // }
}

.fixed-fee-burned {
  @media (min-width: 767px) {
    position: sticky;
    left: 0;
    bottom: 10px;
    width: 100%;
    z-index: 999;
  }
}

.mo-fire {
  width: 200px;
  height: auto;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 100px;
}

.mo-fire svg {
  width: 100%;
  height: auto;
  position: relative;
}

.flame {
  animation-name: flamefly;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0;
  transform-origin: 50% 50% 0;
}

.flame.one {
  animation-delay: 1s;
  animation-duration: 3s;
}

.flame3.two {
  animation-duration: 5s;
  animation-delay: 1s;
}

.flame-main {
  animation-name: flameWobble;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.flame-main.one {
  animation-duration: 4s;
  animation-delay: 1s;
}

.flame-main.two {
  animation-duration: 3s;
  animation-delay: 2s;
}

.flame-main.three {
  animation-duration: 2.1s;
  animation-delay: 3s;
}

.flame-main.four {
  animation-duration: 3.2s;
  animation-delay: 4s;
}

.flame-main.five {
  animation-duration: 2.5s;
  animation-delay: 5s;
}

@keyframes flameWobble {
  50% {
    transform: scale(1, 1.2) translate(0, -30px) rotate(-2deg);
  }
}

@keyframes flamefly {
  0% {
    transform: translate(0) rotate(180deg);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(-20px, -100px) rotate(180deg);
    opacity: 0;
  }
}

/**** slider ****/
.slidercss {
  overflow: hidden;
}

.slidercss-inner {
  display: flex;
  margin: 0;
  padding: 0;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  list-style: none;
  animation: pure-css-slider 11.25s cubic-bezier(0.86, 0, 0.07, 1) infinite;
  counter-reset: i;
}

.slidercss-inner > * {
  box-sizing: border-box;
  margin: 0 !important;
  flex: 0 0 100%;
  word-break: break-word;
}

.slidercss-inner:nth-child(1) > *::before {
  content: "BTC";
}

.slidercss-inner:nth-child(2) > *::before {
  content: "ETH";
}

.slidercss-inner:nth-child(3) > *::before {
  content: "USD";
}

.slidercss:hover .slidercss-inner {
  animation-play-state: paused;
}

@keyframes pure-css-slider {
  from,
  to {
    transform: translateX(0);
  }

  26.66667% {
    transform: translateX(0%);
  }

  33.33333% {
    transform: translateX(-100%);
  }

  60% {
    transform: translateX(-100%);
  }

  66.66667% {
    transform: translateX(-200%);
  }

  93.33333% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0);
  }
}

.container1 {
  width: 100%;
  height: 320px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  // overflow: scroll;
  position: relative;
}

.element {
  width: 100%;
  height: 300px;
  scroll-margin: 20px;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;

  &:hover,
  &:active {
    cursor: pointer;
  }
}

.y-mandatory {
  scroll-snap-type: y mandatory;
}

.y-proximity {
  scroll-snap-type: y proximity;
}

.both-proximity {
  scroll-snap-type: both proximity;
}

.y-scroll .element {
  margin-bottom: 10px;
}

.overflow_scroll {
  overflow: auto;
}

.block-fee-burn {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../assets/bat-bg/Blurredbg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    bottom: 30px;
    left: 0px;
    z-index: 0;
  }
}

.entry {
  text-align: center;
  border-radius: 12px;
  background-color: #1b2236;
  .entry-value {
    position: relative;
    height: 95px;
    perspective: 200px;
    backface-visibility: hidden;
    transform: translateZ(0);
    transform: translate3d(0, 0, 0);
    margin: 0 auto;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  .entry-title {
    flex-grow: 0;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #8490b5;
  }
}

@keyframes flipTop {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(-90deg);
  }
}

@keyframes flipBottom {
  from {
    transform: rotateX(90deg);
  }

  to {
    transform: rotateX(0deg);
  }
}

.batsound-emoji img {
  height: 20px;
  width: auto;
  margin: 0 0.3em;
}

.clipboard-image {
  height: 20px;
  padding-right: 0.4rem;
}

.tw-profile-text {
  img {
    width: 16px;
    margin: auto 2px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.emoji {
  display: inline-block;
  width: auto;
  height: 1em;
  vertical-align: -0.125em;
}

.show-me {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  @media (min-width: 768px) {
    margin-left: -8.3rem;
  }
}

.fee-block-enter {
  opacity: 0;
}

.fee-block-enter-active {
  opacity: 1;
}

.fee-block {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
}

.fee-block-appear {
  opacity: 0;
}

.fee-block-appear-active {
  opacity: 1;
}

*:focus {
  outline: white solid 1px
}

.link-animation {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.color-animation {
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.leaderboard-image {
  border-radius: 50%;
  border: 1px solid rgb(27, 34, 54);
}

.entry {
  text-align: center;
  border-radius: 12px;
  background-color: #1b2236;
  .entry-value {
    position: relative;
    height: 95px;
    perspective: 200px;
    backface-visibility: hidden;
    transform: translateZ(0);
    transform: translate3d(0, 0, 0);
    margin: 0 auto;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  .entry-title {
    flex-grow: 0;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #8490b5;
  }
}

.show-me {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  @media (min-width: 768px) {
    margin-left: -8.3rem;
  }
}

.fee-block-enter {
  opacity: 0;
}

.fee-block-enter-active {
  opacity: 1;
}

.fee-block {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
}

.fee-block-appear {
  opacity: 0;
}

.fee-block-appear-active {
  opacity: 1;
}

.link-animation {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.color-animation {
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.leaderboard-image {
  border-radius: 50%;
  border: 1px solid rgb(27, 34, 54);
}

.icon {
  &-emoji img {
    width: 36px;
    height: auto;
  }
}

.img {
  max-width: 99%;
  margin: 0 auto 15px auto;

  &--center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
  }
  &--size-action {
    max-width: 80px;
    height: 60px;
  }
  &--subpage__action-icon {
    margin-left: 25px;
    max-height: 35px;
  }
  &--list-action {
    img {
      cursor: pointer;
      transition: all 1s ease;
      &:hover {
        transform: scale(1.25);
      }
    }
  }
  &--height-40 {
    img {
      height: 40px;
    }
  }
}

.leading-title {
  line-height: 1.5 !important;
}

.card-text span {
  font-size: 16px;
  line-height: 20px;
}

.text-break-words {
  word-break: break-all;
}

.resize-emoji img {
  font-size: 0.4em;
}

.blurred-bg-image {
  background-image: url("../assets/blurred-bg.svg");
  background-repeat: no-repeat;
  background-position: center -300px;
  background-size: auto;
  width: 100%;
}

.entry {
  text-align: center;
  border-radius: 12px;
  background-color: #1b2236;
  .entry-value {
    position: relative;
    height: 95px;
    perspective: 200px;
    backface-visibility: hidden;
    transform: translateZ(0);
    transform: translate3d(0, 0, 0);
    margin: 0 auto;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  .entry-title {
    flex-grow: 0;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #8490b5;
  }
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
}

.batsound-emoji img {
  height: 20px;
  width: auto;
  margin: 0 0.3em;
}

.clipboard-image {
  height: 20px;
  padding-right: 0.4rem;
}

.tw-profile-text {
  img {
    width: 16px;
    margin: auto 2px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.emoji {
  display: inline-block;
  width: auto;
  height: 1em;
  vertical-align: -0.125em;
}

.show-me {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  @media (min-width: 768px) {
    margin-left: -8.3rem;
  }
}

.fee-block-enter {
  opacity: 0;
}

.fee-block-enter-active {
  opacity: 1;
}

.fee-block {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
}

.fee-block-appear {
  opacity: 0;
}

.fee-block-appear-active {
  opacity: 1;
}

.link-animation {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.color-animation {
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.leaderboard-image {
  border-radius: 50%;
  border: 1px solid rgb(27, 34, 54);
}

.tooltip {
  visibility: hidden;
  position: absolute;

  z-index: 100;
  left: 40px;
  transform: translate(0%, -100%);
  width: 280px;

  @media screen and (min-width: 420px) and (max-width: 1023px) {
    left: 20%;
  }

  @media (min-width: 1024px) {
    left: unset;
    transform: translate(-40%, -100%);
  }
}

.has-tooltip:hover .tooltip,
.has-tooltip:active .tooltip {
  visibility: visible;
}

.accordion-item {
  overflow: hidden;
  height: auto;
}

@media all {
  .accordion-item {
    max-height: 50em;
    -moz-transition: max-height 1s;
    -o-transition: max-height 1s;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
  }
}

@media screen and (min-width: 48em) {
  .accordion-item {
    max-height: 15em;
    -moz-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
}

.accordion-item.collapsed {
  max-height: 0;
}

.accordion-title {
  cursor: pointer;
  color: #fff;
  padding-left: 2.5rem;
  position: relative;

  &::before {
    font-weight: 400;
    content: "＋";
    left: 0px;
    margin-right: 25px;
    font-size: 28px;
    color: #00fffb;
    position: absolute;
  }

  &.open {
    &::before {
      font-weight: 400;
      content: "－";
      left: 0px;
      margin-right: 25px;
      font-size: 28px;
      color: #00fffb;
      position: absolute;
    }
  }
}

.accordion-title .emoji {
  margin-left: 2px;
  height: 1.5em;
  vertical-align: -0.4em;
}

.accordion-content {
  font-family: "Inter";
  padding-left: 2.5rem;
  white-space: pre-line;
  color: #bfc1c9;
}

.accordion-content a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.accordion-content a:hover {
  text-decoration-color: rgba(181, 189, 219, 0.75);
}

.accordion-content .mono {
  font-family: "Roboto Mono";
}

.hamburger-menu {
  position: fixed;
  right: 10px;
  top: 30px;
  height: 34px;
  padding: 8px;
  z-index: 99;
}

.animateIn {
  -webkit-animation-name: accordionIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  -moz-animation-name: normal;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-fill-mode: both;
  -moz-animation-delay: 0s;
  animation-name: accordionIn;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0s;
}

.animateOut {
  -webkit-animation-name: accordionOut;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  -moz-animation-name: accordionOut;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-fill-mode: both;
  -moz-animation-delay: 0s;
  animation-name: accordionOut;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0s;
}

@-webkit-keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes accordionIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0.8);
  }

  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
}

@-moz-keyframes accordionOut {
  0% {
    opacity: 1;
    -moz-transform: scale(1);
  }

  100% {
    opacity: 0;
    -moz-transform: scale(0.8);
  }
}

@keyframes accordionOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

.sidebar {
  background-color: rgba(27, 34, 54, 1);
  position: fixed;
  top: 0;
  right: 0px;
  height: 100%;
  width: 240px;
  padding-top: 1.5rem;
  transition: transform 0.3s ease-in-out 0s;
  z-index: 9;
  text-align: center;
  &-open {
    transform: translateX(0px);
  }
  &-close {
    transform: translateX(100%);
  }
}

.eclips {
  flex: 1 1 0%;
  position: relative;

  &::before {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #00ffa3;
  }

  &::after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #00ffa3;
    position: absolute;
    top: 8px;
    left: 8px;
  }

  &-line {
    background-color: transparent;
    border-top: 1px dashed rgb(112, 112, 112);
    margin-top: 12px;
  }

  &-eth {
    flex: 1 1 0%;
    width: 30px;
    position: relative;
    bottom: 8px;
    left: -15px;

    img {
      max-width: unset;
    }

    &-line-top {
      background-color: transparent;
      border-top: 1px dashed rgb(112, 112, 112);
      transform: rotate(-90deg);
      width: 100px;
      position: relative;
      bottom: 48px;
      left: -35px;
    }

    &-line-right {
      background-color: transparent;
      border-top: 1px dashed rgb(112, 112, 112);
      position: relative;
      width: calc(100% - 30px);
      top: -30px;
      left: 30px;
    }
  }

  &-bottom {
    position: relative;
    transform: rotate(270deg);
    left: -85px;
    top: 100px;
    width: 200px;

    &::before {
      content: "";
      left: -25px;
      top: -11px;
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: transparent;
      border: 2px solid #00ffa3;
    }

    &::after {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #00ffa3;
      position: absolute;
      top: -3px;
      left: -17px;
    }

    &__left-0 {
      left: 0;
      align-self: center;
    }

    &-line {
      background-color: transparent;
      border-top: 1px dashed rgb(112, 112, 112);

      &__only {
        position: relative;
        transform: rotate(270deg);
        top: 70px;
        width: 150px;
      }
    }
  }

  &-hr {
    position: relative;
    border-left-width: 1px;
    border-style: dashed;
    border-color: rgb(112 112 112);

    // &::before {
    //     content: '';
    //     left: -13px;
    //     bottom: -24px;
    //     position: absolute;
    //     width: 24px;
    //     height: 24px;
    //     border-radius: 50%;
    //     background-color: transparent;
    //     border: 2px solid #00ffa3;
    // }

    // &::after {
    //     content: '';
    //     width: 8px;
    //     height: 8px;
    //     border-radius: 50%;
    //     background-color: #00ffa3;
    //     position: absolute;
    //     bottom: -15px;
    //     left: -5px;
    // }

    &__left-0 {
      left: 0;
      align-self: center;
    }

    &-line {
      background-color: transparent;
      border-top: 1px dashed rgb(112, 112, 112);

      &__only {
        position: relative;
        transform: rotate(270deg);
        top: 70px;
        width: 150px;
      }
    }
  }

  &__hr-circle {
    scroll-behavior: smooth;

    &::before {
      content: "";
      left: -13px;
      bottom: -24px;
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: transparent;
      border: 2px solid #00ffa3;
    }

    &::after {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #00ffa3;
      position: absolute;
      bottom: -15px;
      left: -5px;
    }
  }
}