// NOTE: don't use this file unless you really have to! Try to use component scoped CSS instead.
// See: https://nextjs.org/docs/basic-features/built-in-css-support#adding-component-level-css

// Makes overscrolling look better by filling in the default white with our background color.

.link-animation {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.color-animation {
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.leading-title {
  line-height: 1.5 !important;
}

.emoji {
  display: inline-block;
  width: 30px;
  margin: auto 4px;
}

.dimming {
  opacity: 0.1;
}

.entry {
  text-align: center;
  border-radius: 12px;
  background-color: #1b2236;
  .entry-value {
    position: relative;
    height: 95px;
    perspective: 200px;
    backface-visibility: hidden;
    transform: translateZ(0);
    transform: translate3d(0, 0, 0);
    margin: 0 auto;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  .entry-title {
    flex-grow: 0;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #8490b5;
  }
}

@keyframes flipTop {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(-90deg);
  }
}

@keyframes flipBottom {
  from {
    transform: rotateX(90deg);
  }

  to {
    transform: rotateX(0deg);
  }
}

.batsound-emoji img {
  height: 20px;
  width: auto;
  margin: 0 0.3em;
}

.clipboard-image {
  height: 20px;
  padding-right: 0.4rem;
}

.tw-profile-text {
  img {
    width: 16px;
    margin: auto 2px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.emoji_wrapper {
  display: inline;
  display: inline;
}

.emoji {
  isplay: inline-block;
  width: 30px;
  margin: auto 4px;
}

.show-me {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  @media (min-width: 768px) {
    margin-left: -8.3rem;
  }
}

.fee-block-enter {
  opacity: 0;
}

.fee-block-enter-active {
  opacity: 1;
}

.fee-block {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
}

.fee-block-appear {
  opacity: 0;
}

.fee-block-appear-active {
  opacity: 1;
}

*:focus {
  outline: white solid 1px
}

.leaderboard-image {
  border-radius: 50%;
  border: 1px solid rgb(27, 34, 54);
}

.entry {
  text-align: center;
  border-radius: 12px;
  background-color: #1b2236;
  .entry-value {
    position: relative;
    height: 95px;
    perspective: 200px;
    backface-visibility: hidden;
    transform: translateZ(0);
    transform: translate3d(0, 0, 0);
    margin: 0 auto;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  .entry-title {
    flex-grow: 0;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #8490b5;
  }
}

.show-me {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  @media (min-width: 768px) {
    margin-left: -8.3rem;
  }
}

.fee-block-enter {
  opacity: 0;
}

.fee-block-enter-active {
  opacity: 1;
}

.fee-block {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
}

.fee-block-appear {
  opacity: 0;
}

.fee-block-appear-active {
  opacity: 1;
}

.leaderboard-image {
  border-radius: 50%;
  border: 1px solid rgb(27, 34, 54);
}

.icon {
  &-emoji img {
    width: 36px;
    height: auto;
  }
}

.img {
  max-width: 99%;
  margin: 0 auto 15px auto;

  &--center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
  }
  &--size-action {
    max-width: 80px;
    height: 60px;
  }
  &--subpage__action-icon {
    margin-left: 25px;
    max-height: 35px;
  }
  &--list-action {
    img {
      cursor: pointer;
      transition: all 1s ease;
      &:hover {
        transform: scale(1.25);
      }
    }
  }
  &--height-40 {
    img {
      height: 40px;
    }
  }
}

.leading-title {
  line-height: 1.5 !important;
}

.card-text span {
  font-size: 16px;
  line-height: 20px;
}

.text-break-words {
  word-break: break-all;
}

.resize-emoji img {
  font-size: 0.4em;
}

.blurred-bg-image {
  background-image: url("../assets/blurred-bg.svg");
  background-repeat: no-repeat;
  background-position: center -300px;
  background-size: auto;
  width: 100%;
}

.entry {
  text-align: center;
  border-radius: 12px;
  background-color: #1b2236;
  .entry-value {
    position: relative;
    height: 95px;
    perspective: 200px;
    backface-visibility: hidden;
    transform: translateZ(0);
    transform: translate3d(0, 0, 0);
    margin: 0 auto;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  .entry-title {
    flex-grow: 0;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #8490b5;
  }
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
}

.batsound-emoji img {
  height: 20px;
  width: auto;
  margin: 0 0.3em;
}

.clipboard-image {
  height: 20px;
  padding-right: 0.4rem;
}

.tw-profile-text {
  img {
    width: 16px;
    margin: auto 2px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.emoji {
  display: inline-block;
  width: auto;
  height: 1em;
  vertical-align: -0.125em;
}

.show-me {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  @media (min-width: 768px) {
    margin-left: -8.3rem;
  }
}

.fee-block-enter {
  opacity: 0;
}

.fee-block-enter-active {
  opacity: 1;
}

.fee-block {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
}

.fee-block-appear {
  opacity: 0;
}

.fee-block-appear-active {
  opacity: 1;
}

.leaderboard-image {
  border-radius: 50%;
  border: 1px solid rgb(27, 34, 54);
}

.tooltip {
  visibility: hidden;
  position: absolute;

  z-index: 100;
  left: 40px;
  transform: translate(0%, -100%);
  width: 280px;

  @media screen and (min-width: 420px) and (max-width: 1023px) {
    left: 20%;
  }

  @media (min-width: 1024px) {
    left: unset;
    transform: translate(-40%, -100%);
  }
}

.has-tooltip:hover .tooltip,
.has-tooltip:active .tooltip {
  visibility: visible;
}

.accordion-item {
  overflow: hidden;
  height: auto;
}

@media all {
  .accordion-item {
    max-height: 50em;
    -moz-transition: max-height 1s;
    -o-transition: max-height 1s;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
  }
}

@media screen and (min-width: 48em) {
  .accordion-item {
    max-height: 15em;
    -moz-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
}

.accordion-item.collapsed {
  max-height: 0;
}

.accordion-title {
  cursor: pointer;
  color: #fff;
  padding-left: 2.5rem;
  position: relative;

  &::before {
    font-weight: 400;
    content: "＋";
    left: 0px;
    margin-right: 25px;
    font-size: 28px;
    color: #00fffb;
    position: absolute;
  }

  &.open {
    &::before {
      font-weight: 400;
      content: "－";
      left: 0px;
      margin-right: 25px;
      font-size: 28px;
      color: #00fffb;
      position: absolute;
    }
  }
}

.accordion-title .emoji {
  margin-left: 2px;
  height: 1.5em;
  vertical-align: -0.4em;
}

.accordion-content {
  font-family: "Inter";
  padding-left: 2.5rem;
  white-space: pre-line;
  color: #bfc1c9;
}

.accordion-content a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.accordion-content a:hover {
  text-decoration-color: rgba(181, 189, 219, 0.75);
}

.accordion-content .mono {
  font-family: "Roboto Mono";
}

.hamburger-menu {
  position: fixed;
  right: 10px;
  top: 0;
  height: 34px;
  padding: 8px;
  z-index: 99;
}

.animateIn {
  -webkit-animation-name: accordionIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  -moz-animation-name: normal;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-fill-mode: both;
  -moz-animation-delay: 0s;
  animation-name: accordionIn;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0s;
}

.animateOut {
  -webkit-animation-name: accordionOut;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  -moz-animation-name: accordionOut;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-fill-mode: both;
  -moz-animation-delay: 0s;
  animation-name: accordionOut;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0s;
}

@-webkit-keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes accordionIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0.8);
  }

  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
}

@-moz-keyframes accordionOut {
  0% {
    opacity: 1;
    -moz-transform: scale(1);
  }

  100% {
    opacity: 0;
    -moz-transform: scale(0.8);
  }
}

@keyframes accordionOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

.sidebar {
  background-color: rgba(27, 34, 54, 1);
  position: fixed;
  top: 0;
  right: 0px;
  height: 100%;
  //width: 240px;
  padding-top: 1.5rem;
  transition: transform 0.3s ease-in-out 0s;
  z-index: 9;
  text-align: center;
  &-open {
    transform: translateX(0px);
  }
  &-close {
    transform: translateX(100%);
  }
}

@media screen and (max-width: 1300px) {
  .wrapper_supply_graph_section {
    width: 100% !important;
  }
  .supply_graph {
    width: 60%;
  }
  .supply_graph_text {
    padding-left: 0;
  }
}
@media screen and (max-width: 1050px) {
  .supply_graph_section {
    flex-direction: column-reverse;
  }
  .wrapper_supply_graph_section {
    padding-left: 15px;
    padding-right: 15px;
  }
  .supply_graph {
    width: 100%;
    margin-bottom: 50px;
  }
  .supply_graph_text {
    width: 100%;
    text-align: center;
  }
  .supply_graph_text * {
    text-align: center;
  }
}

.eclips {
  flex: 1 1 0%;
  position: relative;

  &::before {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #00ffa3;
  }

  &::after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #00ffa3;
    position: absolute;
    top: 8px;
    left: 8px;
  }

  &-line {
    background-color: transparent;
    border-top: 1px dashed rgb(112, 112, 112);
    margin-top: 12px;
  }

  &-eth {
    flex: 1 1 0%;
    width: 30px;
    position: relative;
    bottom: 8px;
    left: -15px;

    img {
      max-width: unset;
    }

    &-line-top {
      background-color: transparent;
      border-top: 1px dashed rgb(112, 112, 112);
      transform: rotate(-90deg);
      width: 100px;
      position: relative;
      bottom: 48px;
      left: -35px;
    }

    &-line-right {
      background-color: transparent;
      border-top: 1px dashed rgb(112, 112, 112);
      position: relative;
      width: calc(100% - 30px);
      top: -30px;
      left: 30px;
    }
  }

  &-bottom {
    position: relative;
    transform: rotate(270deg);
    left: -85px;
    top: 100px;
    width: 200px;

    &::before {
      content: "";
      left: -25px;
      top: -11px;
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: transparent;
      border: 2px solid #00ffa3;
    }

    &::after {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #00ffa3;
      position: absolute;
      top: -3px;
      left: -17px;
    }

    &__left-0 {
      left: 0;
      align-self: center;
    }

    &-line {
      background-color: transparent;
      border-top: 1px dashed rgb(112, 112, 112);

      &__only {
        position: relative;
        transform: rotate(270deg);
        top: 70px;
        width: 150px;
      }
    }
  }

  &-hr {
    position: relative;
    border-left-width: 1px;
    border-style: dashed;
    border-color: rgb(112 112 112);

    // &::before {
    //     content: '';
    //     left: -13px;
    //     bottom: -24px;
    //     position: absolute;
    //     width: 24px;
    //     height: 24px;
    //     border-radius: 50%;
    //     background-color: transparent;
    //     border: 2px solid #00ffa3;
    // }

    // &::after {
    //     content: '';
    //     width: 8px;
    //     height: 8px;
    //     border-radius: 50%;
    //     background-color: #00ffa3;
    //     position: absolute;
    //     bottom: -15px;
    //     left: -5px;
    // }

    &__left-0 {
      left: 0;
      align-self: center;
    }

    &-line {
      background-color: transparent;
      border-top: 1px dashed rgb(112, 112, 112);

      &__only {
        position: relative;
        transform: rotate(270deg);
        top: 70px;
        width: 150px;
      }
    }
  }

  &__hr-circle {
    scroll-behavior: smooth;

    &::before {
      content: "";
      left: -13px;
      bottom: -24px;
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: transparent;
      border: 2px solid #00ffa3;
    }

    &::after {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #00ffa3;
      position: absolute;
      bottom: -15px;
      left: -5px;
    }
  }
}
