// NOTE: don't use this file unless you really have to! Try to use component scoped CSS instead.
// See: https://nextjs.org/docs/basic-features/built-in-css-support#adding-component-level-css

// Makes overscrolling look better by filling in the default white with our background color.
body {
  background-color: #131827;
}

a:hover {
  color: inherit;
}

.link-animation {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.color-animation {
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.leading-title {
  line-height: 1.5 !important;
}
