// colors === st rt
$white: #fff;
//colors === end

.linkWrap {
  max-width: fit-content;
}

.mobileNavList {
  list-style: none;
  padding: 0;
  margin: 0;
  &__item {
    padding: 20px 45px;
    font-size: 39px;
    & > a {
      color: $white;
      display: block;
    }
  }
  &__item:last-child > a {
    border: 1px solid $white;
    border-radius: 50px;
    padding: 20px 0;
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
}

.mobileNavBarNav {
  width: 100%;
  @media (max-width: 500px) {
    width: 200%;
  }
}

.stepperNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  transition: all .2s ease;
  transform: translateY(-130%);

  &.active {
      transform: translateY(0);
  }

  .trackWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -8px;

    & > div {
        transform: translateX(-50%);
    }

    img {
        margin: 0;
    }
  }
}