// colors === st rt
$white: #fff;
//colors === end

.linkWrap {
  max-width: fit-content;
}

.mobileNavList {
  list-style: none;
  padding: 0;
  margin: 0;
  &__item {
    padding: 20px 45px;
    font-size: 39px;
    & > a {
      color: $white;
      display: block;
    }
  }
  &__item:last-child > a {
    border: 1px solid $white;
    border-radius: 50px;
    padding: 20px 0;
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
}

.mobileNavBarNav {
  width: 100%;
  @media (max-width: 500px) {
    width: 200%;
  }
}


.StepperDots{

}
