.blurredBgImage {
  background-image: url("../../assets/blurred-bg.svg");
  background-repeat: no-repeat;
  background-position: center -300px;
  background-size: auto;
  width: 100%;
}

.ultraSoundText {
  background-image: linear-gradient(45deg, #ff01e6 0%, #ff5f51 39%, #00ffa3);
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3 !important;
  letter-spacing: normal;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

