.customSlider::-webkit-slider-thumb {
  appearance: none;
  background: #b5bddb;
  border-radius: 50%;
  height: 14px;
  width: 14px;
}

.customSlider::-webkit-slider-thumb:hover {
  background: #ffffff;
}
