// Same as colors in chart-defaults.ts
$tooltip-bg: #1b2135;
$chart-label: #8490b5;

$tooltip-zindex: 2;

@mixin custom-tooltip {
  .highcharts-tooltip {
    z-index: $tooltip-zindex;
  }
  .tt-root {
    background-color: $tooltip-bg;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.15);
    padding: 24px;
    border-radius: 10px;
  }
  .tt-header {
    display: flex;
    align-items: center;
    line-height: 1;
    margin-bottom: 1rem;
  }
  .tt-header-date {
    font-size: 14px;
    font-weight: bold;
    white-space: pre;
  }
  .tt-root td {
    padding: 2px 0;
  }
  .tt-root td:last-child {
    padding-left: 12px;
    text-align: right;
    font-weight: bold;
  }
  .tt-series {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    line-height: 1.125rem;
  }
  .tt-series-color {
    margin-top: 2px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 6px;
  }
}
