.chartHeader {
  display: flex;
  justify-content: space-between;
}
.variables {
  display: grid;
  grid-template-columns: 300px;
  grid-gap: 2rem;
  justify-content: center;
  text-align: center;
  @media (min-width: 600px) {
    grid-template-columns: repeat(auto-fit, 260px);
    text-align: left;
  }
}
