.supplyChart :global {
  // Chart series
  .highcharts-series {
    // Start series with a space, instead of a dash
    stroke-dashoffset: 4px;
  }

  // Legend
  .highcharts-legend-item {
    pointer-events: none;
  }
  .highcharts-legend-item.highcharts-series-1:last-child .highcharts-point {
    // Match the fill-opacity for projected series
    opacity: 0.4;
  }

  // Tooltip
  .tt-header {
    display: flex;
    align-items: center;
    line-height: 1;
    margin-bottom: 5px;
  }
  .tt-header-date {
    color: white;
    font-size: 14px;
    font-weight: bold;
  }
  .tt-header-projected {
    margin: -2px 0 0 6px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.13em;
    font-weight: bold;
    color: white;
    opacity: 0.7;
  }
  .tt-root td {
    padding: 2px 0;
  }
  .tt-root td:last-child {
    padding-left: 12px;
    text-align: right;
    font-weight: bold;
  }
  .tt-series {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    line-height: 1;
  }
  .tt-series-color {
    margin-top: 2px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 6px;
  }
  // Style overrides for "total" row
  .tt-total-row td {
    padding-top: 5px;
  }
  .tt-total-row .tt-series-name {
    font-weight: bold;
  }

  .highcharts-plot-line-label,
  .highcharts-plot-line {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }
}
