.tooltip{
    display: none; 
    opacity: 0; 
  }
  .has-tooltip:hover .tooltip,
  .has-tooltip:active .tooltip {
    position: absolute;
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 100;
    transform: translate(0%,-105%);
    @media (min-width: 1024px) { 
      transform: translate(-40%,-105%);
    }
  }

.clipboard{
  position: absolute;
  width: fit-content;
  margin: auto;
  color: aliceblue;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #343c55;
  z-index: 10;
  font-size: 12px;
  left: 35%;
  top: 35px;
}