.tooltip{
  display: none;
  opacity: 0;
}
.has-tooltip:hover .tooltip,
.has-tooltip:active .tooltip {
  position: absolute;
  display: block;
  opacity: 1;
  visibility: visible;
  z-index: 100;
  left: 40px;
  width: 280px;
  transform: translate(0%,-100%);
  animation: fadeIn ease 700ms;
  -webkit-animation: fadeIn ease 700ms;
  -moz-animation: fadeIn ease 700ms;
  -o-animation: fadeIn ease 700ms;
  -ms-animation: fadeIn ease 700ms;
  will-change: transform;
  @media screen and (min-width: 420px) and (max-width: 1023px) {
    left: 20%;
  }
  @media (min-width: 1024px) {
    left: unset;
    transform: translate(-40%,-100%);
  }
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
