.equilibriumChart :global {
  // Style overrides for "total" row
  .highcharts-plot-line-label {
    font-family: "Inter";
    font-size: "12px";
    letter-spacing: 0.1em;
    font-weight: 300;
  }
}

@media screen and (max-width: 1300px) {
  .supplyGraph {
    width: 60%;
  }
}

@media screen and (max-width: 1050px) {
  .supplyGraph {
    width: 100%;
    margin-bottom: 50px;
  }
}
