name: build

on:
  push:
    tags:
      - "stag-*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to Scaleway Registry
        uses: docker/login-action@v2
        with:
          registry: rg.nl-ams.scw.cloud/ultrasoundmoney
          username: ${{ secrets.SCALEWAY_API_KEY }}
          password: ${{ secrets.SCALEWAY_API_KEY }}
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: rg.nl-ams.scw.cloud/ultrasoundmoney/serve-frontend
          # type=raw,latest
          tags: |
            type=sha,prefix=
          secrets: |
            "SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}"
      - name: Wait for tests to succeed
        uses: lewagon/wait-on-check-action@v1.1.2
        with:
          ref: ${{ github.ref }}
          check-name: test
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 10
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=reg.nl-ams.scw.cloud/ultrasoundmoney/serve-frontend:latest
          cache-to: type=inline
